body {
    background-color: #323232;
    font-family: 'Open Sans', Arial, sans-serif;
    margin: 0;
    color: white;
}

h1 {
    text-align: center;
    
}

#content {
    position: relative;
    display: flex;
    height: 90vh;
    justify-content: center;
    align-items: center;
}



table {
    border-collapse: collapse;
    border-spacing: 0;
}

td {
    width: 200px;
    height: 200px;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

td:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

/* Nur innere Linien, 5px, weiß */
tr:not(:last-child) td {
    border-bottom: 15px solid #fff;
}

td:not(:last-child) {
    border-right: 15px solid #fff;
}